*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::placeholder{
    padding-left: 15px;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(38, 39, 38);
}
header{
    width: 100%;
    padding: 15px;
    background: rgb(38, 39, 38);

}
.container{
    padding-bottom:8px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    border-bottom: 1px solid #ccc;
    color: white;
}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
a>h1{
    color: white;
    text-align: center;
}
.search{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 10px;
}
#main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 35px;
}
.movie{
    width: 250px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin:15px;
    
}
img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    
}
li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
ul{
    text-align: center;
}